/* Resetto i margini */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
    font-family: 'Poppins', sans-serif;
}

/* Nav */

nav{
    background-color: #FFFFFF;
}

nav #logo{
    padding: 10px 5px 10px 20px;
}

nav #logo-text{
    display: inline-block;
    line-height: 80px;
    vertical-align: bottom;

    font-weight: 600;
    font-size: 3em;
}

/* Main */
 main{
    background-color: #FFFFFF;

    max-width: 1000px;
    margin: 50px auto;
    
    border-radius: 5px;
 }

 main .add {
    position: relative;
    padding: 10px 50px;
 }

 main .add .separator {
    width: 1000px;
    background-color: #F6F8F9;
    height: 2px;

    position: absolute;
    left:0;
    bottom:0;
 }
