/* Resetto i margini */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
    font-family: 'Poppins', sans-serif;
}

/* Nav */

nav{
    background-color: #FFFFFF;
}

nav #logo{
    padding: 10px 5px 10px 20px;
}

nav #logo-text{
    display: inline-block;
    line-height: 80px;
    vertical-align: bottom;

    font-weight: 600;
    font-size: 3em;
}

/* Main */
 main{
    background-color: #FFFFFF;

    max-width: 1000px;
    margin: 50px auto;
    
    border-radius: 5px;
 }

 main .add{
    position: relative;
    padding: 15px 50px;
 }

 main .add .separator{
    width: 1000px;
    background-color: #F6F8F9;
    height: 2px;

    position: absolute;
    left:0;
    bottom:0;
 }

 main .add .btn{
    padding: 6px 14px;
    border-radius: 5px;
 }

 main .add .btn.task{
    background-color:#47ADF1;
    color: white;
    border: 2px solid #47ADF1;
 }

 main .add .btn.section{
    margin-left: 2px;

    background-color:#FFFFFF;
    color: #C5CBD0;
    border: 2px solid #C5CBD0;
 }