/* Resetto i margini */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
    font-family: 'Poppins', sans-serif;
}

/* Nav */

nav{
    background-color: #FFFFFF;
}

nav #logo{
    padding: 10px 5px 10px 20px;
}

nav #logo-text{
    display: inline-block;
    line-height: 80px;
    vertical-align: bottom;

    font-weight: 600;
    font-size: 3em;
}

/* Main */
main{
    background-color: #FFFFFF;

    max-width: 1000px;
    margin: 50px auto;
    
    border-radius: 5px;
 }

.add{
    position: relative;
    padding: 15px 50px;
 }

.add .separator{
    width: 1000px;
    background-color: #F6F8F9;
    height: 2px;

    position: absolute;
    left:0;
    bottom:0;
 }

.add .btn{
    padding: 6px 14px;
    border-radius: 5px;
 }

.add .btn.task{
    background-color:#47ADF1;
    color: white;
    border: 2px solid #47ADF1;
 }

.add .btn.section{
    margin-left: 2px;

    background-color:#FFFFFF;
    color: #C5CBD0;
    border: 2px solid #C5CBD0;
 }

main section {
    padding: 30px 50px;
 }

 /* Task */
section .details summary h2 {
    display: inline-block;
}

section .details summary{
    margin: 5px;
}

section .details ul{
    list-style-type: none;
}

section .details ul li{
    font-size: 0.8em;
}

section .details ul li .checkmark{
    display: inline-block;
    border: 1px solid #58BCA5;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    color: #58BCA5;
}


/**************************** TAG *****************************/
/* Editorial */
section .details ul li .editorial::after{
    content: 'Editorial';
    color: #FFFFFF;
    background-color: #47ADF1;
    border-radius: 15px;
    padding: 5px 10px;
}
/* Q1 Goals */
section .details ul li .q1-goals::after{
    content: 'Q1 Goals';
    color: #FFFFFF;
    background-color: #9C72E4;
    border-radius: 15px;
    padding: 5px 10px;
}
/* Recruiting */
section .details ul li .recruiting::after{
    content: 'Recruiting';
    color: #FFFFFF;
    background-color: #64C0A9;
    border-radius: 15px;
    padding: 5px 10px;
}
/* Mobile */
section .details ul li .mobile::after{
    content: 'Mobile';
    color: #FFFFFF;
    background-color: #F29E33;
    border-radius: 15px;
    padding: 5px 10px;
}
/* Website */
section .details ul li .wensite::after{
    content: 'Website';
    color: #FFFFFF;
    background-color: #D863A1;
    border-radius: 15px;
    padding: 5px 10px;
}
/* Sales */
section .details ul li .sales::after{
    content: 'Sales';
    color: #FFFFFF;
    background-color: #B0C926;
    border-radius: 15px;
    padding: 5px 10px;
}

/**************************** /TAG *****************************/